<h1>Note Taker</h1>
{{!-- give option to delete each note --}}
<ul>
  {{#each newNote}}
    <li>
      <p>
        {{this.id}}. {{this.title}}. {{this.body}}.

        <button data-newNoteId="{{this.id}}" class="delNewNote">Delete New Note</button>
      </p>
    </li>
  {{/each}}
</ul>
{{!-- button to connect to add new note form --}}
<h2>Add a New Note </h2>
<form id="addNewNote" class="button-size">
	<textarea type="text" name="newNote"></textarea>
	<button type="submit">Save New Note!</button>
</form>

{{!-- button to connect to updating an existing new note --}}
<h2>Update a New Note</h2>
<form id="updateNewNote" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="newNote" placeholder="what do you want to update this new note to?"></textarea>
	<button type="submit">Update New Note!</button>
</form>

{{!-- on click delete New Notes by their ID--}}
<script type="text/javascript">
  $(".delnewNote").on("click", function(event) {
    var id = $(this).data("newNoteId");

    // Send the DELETE request.
    // connect to notes.html
    $.ajax("/notes/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated new notes list
        location.reload();
      }
    );
  });

// if you do not want to delete there is a button to save a new note
  $("#addNewNote").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newNote = {
      note: $("#addNewNote [name=note]").val().trim()
    };

    // Send the POST request.
    $.ajax("/notes", {
      type: "POST",
      note: newNote
    }).then(
      function() {
        console.log("added new new");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateNewNote").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedNewNote = {
      note: $("#updateNewNote [name=note]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/notes/" + id, {
      type: "PUT",
      data: updatedNewNote
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>